version: "3.9"

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,iam,lambda,dynamodb,sqs,eks
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/tmp
      - DEFAULT_REGION=us-east-1
    volumes:
      - localstack_data:/tmp/localstack/tmp
      - /var/run/docker.sock:/var/run/docker.sock

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: s3demo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  localstack_data:
  postgres_data:
